<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--linking local CSS file-->
        <link type="text/css" rel="stylesheet" href="stylesheets/style.css">

        <title>404</title>
    </head>

    <body>
        <div class="box">
            <div class="heading">404! Page not found</div>
            <div class="sub-text">The page you are requesting, does not exist.</div>
        </div>
    </body>
</html>